.season-container {
    width: 100%;
}

.season-container .embla__container {
    display: flex;
    column-gap: 15px;
}

.season-container .embla__slide{
    width: 100%;
    max-width: 384px;
    overflow: hidden;
    border-radius: 6px;
}

@media screen and ( width >= 1024px ) {
    .season-container .embla__container {
        column-gap: 20px;
    };
}