@import url('../app/shared-styles/fonts.css');
.player-component{
  width: 100%;
  min-height: calc(100vh - 50px);
}

.player-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    row-gap: 30px;
}

.player-component .player-bg-img{
  width: 100%;
  height: 100vh;
  max-height: 850px;
  position: relative;
}

.player-component .player-bg-img::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-image:  linear-gradient(to bottom, var(--body-color), var(--body-opacity-00), var(--body-opacity-00), var(--body-color));
}

.player-component .player-bg-img::after{
  content: '';
  width: 60%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-image:  linear-gradient(90deg, var(--body-color), var(--body-opacity-07) ,var(--body-opacity-05), var(--body-opacity-00));
}

.player-component .player-bg-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.player-component .player-img-info{
  width: 40%;
  position: absolute;
  bottom: 20px;
  left: 30px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.player-component .date-details{
  display: flex;
  flex-direction: row;
  gap: 9px;
  flex-wrap: wrap;
  align-items: center;
}

.player-component .date-details img{
  height: 25px;
  margin-left: 7px;
  width: fit-content;
  object-fit: cover;
  border-radius: 4px;
  background-color: var(--white-opacity-08);
}

.player-component .date-details h2{
  color: var(--white-opacity-08);
  font: 400 16px 'Poppins', 'Roboto', sans-serif;
  width: fit-content;
  border-radius: 4px;
}

.player-component .date-details .release-date{
  background-color: var(--orangered);
  padding: 2px 5px;
  font-weight: 500;
  color: var(--white-opacity-09);
}

.player-component .date-details .content-runtime{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.player-component .player-img-info h1{
  font: 800 40px 'Raleway', 'Roboto', sans-serif;
  color: var(--white-opacity-1);
  line-height: 100%;
}

.player-component .player-img-info  button{
  border: none;
  outline: none;
  width: fit-content;
  padding: 10px 40px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
  gap: 10px;
  color: var(--white-opacity-1);
  background-color: var(--dark-blue);
  font: 600 16px 'Poppins', 'Roboto', serif;
  cursor: pointer;
}

.player-component .player-img-info  .play-icon{
  font-size: 17px;
}


.player-component .player-content-info{
  width: 100%;
  padding: 10px 30px;
  box-sizing: border-box;
}

.player-component .player-content-info p{
  color: var(--white-opacity-09);
  font: 400 18px 'Noto Sans', serif;
  width: 65%;
  line-height: 150%;
}

.player-component .additional-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
  box-sizing: border-box;
  position: relative;
}

.player-component .swiper-box{
  position: relative;
}

.player-component .additional-content h1{
  color: var(--white-opacity-1);
  font: 500 20px "Roboto", sans-serif;
}

.player-component .additional-content .player-swiper-title{
  margin-bottom: 15px;
}

.player-component .additional-content .content-seasons{
  height: 250px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
}

.player-component .additional-content .content-seasons::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 4px;
  border:  1.5pt solid var(--transparent);
  box-sizing: border-box;
}

.player-component .additional-content .content-seasons:hover::before{
  z-index: 1;
  background-color: var(--black-opacity-08);
  border: 1.5pt solid var(--white-opacity-1);
}

.player-component .additional-content .content-seasons img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top;
  border-radius: 4px;
}

.player-component  .content-seasons-info{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 7px 0px;
}

.player-component  .content-seasons-info h2{
  color: var(--white-opacity-08);
  font: 500 16px "Roboto", 'Poppins', sans-serif;
  max-width: 60%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.player-component  .content-seasons-info span{
  color: var(--white-opacity-07);
  font: 500 16px "Roboto", 'Poppins', sans-serif;
}

.player-component .additional-content button{
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 33;
  top: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
}

.player-component .additional-content button .arrows{
  color: var(--white-opacity-1);
  cursor: pointer;
}

.player-component .btn-left{
  left: -25px;
}

.player-component .btn-right{
  right: -25px;
}

.player-component .overlay-info{
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  opacity: 0;
  row-gap: 10px;
}

.player-component .overlay-info h2{
  color: var(--white-opacity-1);
  font: 700 20px 'Raleway', 'Poppins', sans-serif;
}

.player-component .overlay-info h3{
  color: var(--white-opacity-09);
  font: 400 17px 'Roboto', 'Poppins', sans-serif;
}

.player-component .content-seasons:hover .overlay-info{
  animation: fadeIN .2s ease-out forwards;
}

.player{
  width: 100%;
  height: 100vh;
  max-height: 850px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;
  z-index: 0;
  opacity: 0;
}

.player .player-video{
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1400px){
  .player-component .player-img-info h1{
    font-size: 60px;
  }
  .player-component .player-content-info p{
    font-size: 21px;
    width: 60%;
  }
}

@media screen and (max-width: 1000px){
  .player-component .player-content-info p{
    width: min(100%, 800px);
  }
}

@media screen and (max-width: 800px){
  .player-component .additional-content .content-seasons{
    margin: 0;
  }

}

@media screen and (max-width: 700px){
  .player-component .player-img-info{
    width: 100%;
    left: 0;
    padding: 0px 15px;
    box-sizing: border-box;
    align-items: flex-start;  
  }

  .player-component .player-bg-img{
    height: 80vh;
  }

  .player-component .player-content-info{
    padding: 0px 15px;
  }

  .player-component .player-img-info h1{
    font-size: 35px;
  }

  .player-component .player-content-info p{
    width: 100%;
    font-size: 16.5px;
    font-weight: 500;
  }

  .player-component .additional-content{
    padding: 20px 15px 0px 15px;
  }

  .player-component .additional-content h1{
    font-size: 17.5px;
    font-weight: 600;
  }

  .player-component .additional-content button{
    display: none;
  }

  .player-component .player-img-info  button{
    font-size: 15.5px;
    width: 100%;
    padding: 15px; 
  }

  .player-component .player-bg-img::after{
    width: 100%;
    height: 65%;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, var(--body-color),var(--body-color), var(--body-opacity-00));
  }

  .player{
    height: 70vh;
  }
}

@media screen and (max-width: 600px) {
  .player-component .date-details img{
    height: 22px;
  }

  .player-component .date-details .release-date{
    padding: 0px 7px;
  }

  .player-component .player-img-info  button{
    font-size: 15px;
  }

}