@import url('./fonts.css');

html{
  scroll-behavior: smooth;
}

header{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: opacity .2s linear;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

header .overlayDiv{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  left: 0;
}

header .header-links{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 15px 30px;
  justify-content: space-between;
  background-color: transparent;
  box-sizing: border-box;
  align-items: center;
}

header .header-links::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  backdrop-filter: blur(0px);
}

header .project-title{
  display: flex;
  justify-content: center;
  align-items: center;
}

header .project-title h1{
  font: 800 29px "Raleway", sans-serif;
  color: var(--white-opacity-1);
}

header .links{
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: transparent;
  justify-content: space-between;
}

header .center-links button{
  border: none;
  color: var(--white-opacity-1);
  font-weight: 400;
  font-size: 28px;
  transform: rotate(90deg);
  background-color: var(--transparent);
  outline: none;
  cursor: pointer;
  z-index: 1;
}

header .center-links a{
  font: 600 20px "Poppins", helvetica, sans-serif;
  color: var(--white-opacity-07);
  text-decoration: none;
  cursor: pointer;
}

header .center-links a:hover{
  color: var(--white-opacity-1);
}

header .center-links .lupa-icon{
  font-size: 25px;
  cursor: pointer;
  color: var(--white-opacity-07);
}

header .center-links .lupa-icon:hover{
  color: var(--white-opacity-1);
}

header .right-links button{
  width: 48px;
  height: 48px;
  border-radius: 100%;
  color: var(--white-opacity-1);
  border: 2px solid var(--red);
  background-color: var(--black);
  transition: all .2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;  
  outline: none;
}

header .right-links button .user-icon{
  color: var(--white-opacity-08);
  font-size: 16px;
}

header .right-links h3{
  color: var(--white-opacity-95);
  font: 600 20px "Poppins", sans-serif;
  cursor: pointer;
}

header .menu-icon{
  width: 28px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}

header .menu-icon div{
  width: 100%;
  height: 2px;
  background-color: var(--white-opacity-1);
  border-radius: 10px;
}

.menu-component{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 155;
  transform: translateX(-100%);
  transition: all .2s ease-out;
  backdrop-filter: blur(10px);
}

.menu-container{
  width: 300px;
  height: 100vh;
  background-color: var(--blue);
  padding: 0px 30px;
  border-right: 1pt solid var(--white-opacity-03) ;
}

.menu-container ul{
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  list-style: none;
  row-gap: 30px;
  position: relative;
}

.menu-container ul p{
  font: 500 23px "Poppins", 'Roboto', helvetica, sans-serif;
  color: var(--white-opacity-08);
  cursor: pointer;
}

.menu-container ul li:last-child p{
  background-color: var(--dark-blue);
  width: fit-content;
  padding: 5px 50px;
  border-radius: 4px;
  font: 500 19px "Poppins", 'Roboto', helvetica, sans-serif;
  color: var(--white-opacity-1) !important;
}

.menu-container ul button{
  border: none;
  display: flex;
  justify-content: center;
  background-color: var(--transparent);
  align-items: center;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 0;
  top: 20px;
}

.menu-container button .close-icon{
  color:var(--white-opacity-1);
  font-size: 31px;
}

.movie-fetcher{
  width: 100%;
  margin: auto;
  position: relative;
}

.movie-fetcher .swiper-btns-control{
  width: min-content;
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 33;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
}

.movie-fetcher .swiper-btns-control .arrows{
  color: var(--white-opacity-1);
  cursor: pointer;
  font-size: 20px;
}

.movie-fetcher .btn-left{
  left: -25px;
}

.movie-fetcher .btn-right{
  right: -25px;
}

.movie-fetcher hr, .about-movie hr{
  width: 100%;
  background-image: linear-gradient(to right, var(--red), var(--transparent));
  border: none;
  height: 1.5pt;
  margin-bottom: 20px;
}

.movie-fetcher .title-box{
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.movie-fetcher h1{
  color: var(--white-opacity-1);
  font: 500 20px "Roboto",'Poppins', sans-serif;
  animation: fadeIN .3s ease-in-out;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}

.fetchMovies-container{
  animation: fadeIN 5s ease-in-out;
  position: absolute;
}

.movie-fetcher .swiper-box{
  position: relative;
}

.movie-fetcher .swiper-container{
  width: 100%;
  margin: auto;
  padding: 0;
}

.movie-fetcher .swiper-image{
  border: none;
  transition: all .1s ease-in !important;
  cursor: pointer;
  opacity: 1;
  border-radius: 4px;
  position: relative;
  min-width: 170px;
  height: 300px;
  z-index: 3;
}

.movie-fetcher .swiper-image img{
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.movie-fetcher .swiper-image::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 4px;
  border: 1.5pt solid transparent;
  box-sizing: border-box;
  background-color: var(--black);
}

.movie-fetcher .swiper-image:hover img{
  opacity: .2;
}

.movie-fetcher .mv-overlay-info{
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 0px 7px 10px 7px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 1;
  transform: translateY(100%);
  transition: all .25s ease-in-out;
}

.movie-fetcher .swiper-image:hover .mv-overlay-info{
  transform: translate(0);
}

.movie-fetcher .mv-overlay-info h2{
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: var(--white-opacity-1);
  font: 700 18px 'Raleway', 'Poppins', sans-serif;
}

.movie-fetcher .swiper-image:hover::before{
  border: 1.5pt solid var(--white-opacity-1);
}

footer{
  width: 100%;
  display: flex;
  z-index: 20;
  margin-top: 50px;
  padding: 30px;
  flex-direction: column;
  box-sizing: border-box;
  row-gap: 30px;
  justify-content: center;
  border-top: 1pt solid var(--white-opacity-01);
  background-color: var(--body-color);
  color: var(--white-opacity-95);
}

footer .about-project{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  gap: 30px;
  row-gap: 30px;
}

footer .about-project h2{
  width: fit-content;
  font: 700 21px 'Raleway', sans-serif;
}

footer .social-icons{
  display: flex;
  gap: 30px;
  flex-direction: row;
  justify-content: center;
}

footer .social-icons .icons{
  font-size: 23px;
  transition: transform .1s ease-in-out;
  color: var(--white-opacity-95);
}

footer .social-icons .icons:hover{
  transform: scale(1.2);
}

footer .footer-links a{
  text-decoration: none;
  font: 500 21px 'Raleway', 'Roboto', sans-serif;
  cursor: pointer;
  border-bottom: 1.5pt solid var(--transparent);
  padding-bottom: 5px;
  display: none;
}

footer .footer-links a:hover{
  color: var(--white-opacity-1);
  border-bottom: 1.5pt solid var(white-opacity-1);
}

.loading-component{
  width: 100%;
  height: 100%;
  padding: 20px 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  background-color: var(--body-color);
}

.loading-component .loading-swiper{
  width: 100%;
}

.loading-component .loading-div{
  min-width: 170px;
  height: 300px;
  margin-right: 20px;
  border-radius: 5px;
  background-color: var(--gray);
  animation: pulse 2s ease-in-out infinite, fadeIN .2s ease-in-out;
}

.loading-component h1, .loading-component h2{
  width: 300px;
  height: 25px;
  max-width: 80%;
  border-radius: 4px;
  background-color: var(--gray);
  animation: pulse 2s ease-in-out infinite, fadeIN .4s ease-in-out;
}

.loading-component h2{
  width: 150px;
  max-width: 40%;
  margin-top: 10px;
}

.swiper{
  width: 100%;
  height: 100%;
  --swiper-pagination-color: var(--white-opacity-1);
  --swiper-pagination-bullet-size: 0.6em;
  --swiper-pagination-bullet-inactive-color: var(--white-opacity-07);
}

.slide{
  width: 100%;
  height: 100%;
}

.presentation-slides{
  max-width: 100%;
  height: 100vh;
  max-height: 850px;
}


.presentation-slides .presentation-img{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.presentation-slides .presentation-img::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-image:  linear-gradient(to bottom, var(--body-color), var(--body-opacity-00), var(--body-opacity-00), var(--body-color));
}

.presentation-slides .presentation-img::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70%;
  height: 100%;
  z-index: 4;
  background-image: linear-gradient(to right, var(--body-color),var(--body-opacity-05), var(--body-opacity-00));
}

.presentation-slides img{
  height: 100%;
  object-fit: cover;
  width: 100%;
  opacity: 0.8;
  position: relative;
}

.presentation-slides .movie-slides-info{
  position: absolute;
  left: 30px;
  bottom: 15px;
  display: flex;
  flex-direction: column;
  z-index: 44;
  width: 40%;
  row-gap: 1rem;
  padding: 10px 10px 0px 0px;
}

.presentation-slides .movie-slides-info h1{
  font: 800 40px "Raleway", 'Poppins', sans-serif;
  color: var(--white-opacity-1);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.presentation-slides .movie-slides-info h2{
  color: var(--white-opacity-1);
  display: inline-block;
  width: fit-content;
  padding: 3px 10px;
  border-radius: 4px;
  background-color: var(--orangered);
  font: 600 16px 'Noto Sans', helvetica, sans-serif;
}

.presentation-slides .movie-slides-info p{
  color: var(--white-opacity-1);
  overflow: hidden;
  display: -webkit-box;
  line-height: 150%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  opacity: 1;
  font: 500 17px "Noto Sans", 'Poppins', helvetica, sans-serif;
}

.presentation-slides .movie-slides-info button{
  color: var(--white-opacity-1);
  background-color: var(--dark-blue);
  border: 1pt solid var(--transparent);
  font: 600 16px 'Poppins', 'Roboto', helvetica, sans-serif;
  display: inline-block;
  width: fit-content;
  outline: none;
  border-radius: 4px;
  width: 200px;
  padding: 9px 0px;
  cursor: pointer;
}

.home-container .loading-container{
  position: relative;
  padding: 0px 30px;
}

.error-component{
  width: 100%;
  height: 100vh;
  max-height: 850px;
  background-color: var(--body-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px 30px;
  box-sizing: border-box;
  opacity: 0;
}

.error-component h1{
  color: var(--white-opacity-1);
  text-transform: uppercase;
  font: 600 20px 'Poppins', helvetica ,sans-serif;
}

.error-component p{
  color: var(--white-opacity-08);
  font: 500 17px 'Noto Sans', serif;
  margin-bottom: 20px;
  text-align: center;
}

.error-component .error-icon{
  color: var(--gainsboro);
  font-size: 140px;
}

@media screen and (min-width: 1400px){
  .presentation-slides .movie-slides-info h1{
    font-size: 60px;
  }
}

@media screen and (min-width: 1600px){
  .movie-fetcher .swiper-image{
    height: 320px;
  }
}

@media screen and (max-width: 900px){
  header .center-links a:nth-child(3){
    display: none;
  }
  
  header .right-links h3{
    display: none;
  }

  .presentation-slides{
    height: 90vh;
  }

  .presentation-slides .movie-slides-info h1{
    font: 800 40px "Raleway", sans-serif;
  }

  .presentation-slides .movie-slides-info h2{
    font: 600 15px 'Noto Sans', helvetica, sans-serif;
  }

  .presentation-slides .movie-slides-info p{
    font: 500 16px "Noto Sans",sans-serif;
  }

  .swiper{
    --swiper-pagination-bullet-size: 0.5em;
  }
}

@media screen and (max-width: 800px) {
  
}

@media screen and (max-width: 700px) {

  header{
    width: 100vw;
  }

  header .header-links{
    width: 100%;
    padding: 15px;
  }

  header .center-links{
    display: none;
  }

  header .center-links button{
    font-size: 30px;
  }

  header .right-links button{
    width: 40px;
    height: 40px;
    font-size: 16px;
  }

  header .project-title h1{
    font-size: 24px;
  }

  header .right-links .lupa-icon{
    display: none;
  }

  header .menu-icon{
    display: flex;
    width: 26px;
    row-gap: 6px;
  }

  .home-container .loading-container{
    padding: 0px 15px;
  }

  .movie-fetcher .swiper-btns-control{
    display: none;
  }

  .movie-fetcher h1{
    font-size: 17px;
    font-weight: 600;
  }

  .movie-fetcher .swiper-image{
    min-width: 160px;
    height: 250px;
  }

  .movie-fetcher .swiper-image:hover img{
    opacity: 1;
  }

  .movie-fetcher .swiper-image::before{
    display: none;
  }

  .movie-fetcher hr{
    display: none;
  }

  .movie-fetcher .swiper-image::before , .movie-fetcher .swiper-image:hover::before, .movie-fetcher .mv-overlay-info{
    display: none;
  }

  .presentation-slides .movie-slides-info{
    width: 100%;
    left: 0;
    bottom: 35px;
    box-sizing: border-box;
    padding: 0px 15px;
  }

  .presentation-slides .movie-slides-info button{
    font-size: 15.5px;
    width: 100%;
    padding: 14px 0px;
    border-radius: 5px;
  }
  
  .presentation-slides .movie-slides-info::before{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(to top, var(--body-color),var(--body-opacity-05), var(--body-opacity-00));
  }

  .presentation-slides .presentation-img::after{
    width: 100%;
    height: 65%;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, var(--body-color),var(--body-color), var(--body-opacity-00));
  }
  
  .presentation-slides .movie-slides-info h1{
    font: 800 40px "Raleway", sans-serif;
    text-align: center;
  }
  
  .presentation-slides .movie-slides-info h2{
    margin: auto;
  }
  
  .presentation-slides .movie-slides-info p{
    text-align: center;
  }
  
  .presentation-slides .movie-slides-info button{
    margin: auto;
  }

  .menu-container{
    width: 50%;
    padding: 0px 15px;
  }

  .menu-container ul p{
    font-size: 20px;
  }

  .menu-container ul button{
    top: 35px;
    transform: translateY(-50%);
  }

  .menu-container button .close-icon{
    font-size: 28px;
  }

  footer{
    padding: 25px 15px;
  }

  footer .about-project h2{
    font-size: 20px;
  }

  .error-component{
    height: 70vh;
    padding: 0px 15px;
  }

  .error-component .error-icon{
    font-size: 110px;
  }

  .error-component h1{
    font-size: 18px;
  }

  .error-component p{
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .presentation-slides .movie-slides-info h1{
    font: 800 30px "Raleway", sans-serif;
  }
}

@media screen and (max-width: 500px){
  .presentation-slides{
    height: 83vh;
  }
}
