@import url('/src/styles/fonts.css');

header{
  position: relative;
  width: 100%;
  margin: auto;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: opacity .2s linear;
  box-sizing: border-box;
  position: fixed;
  margin: auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

header .overlayDiv{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  left: 0;
}

header .header-links{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 15px 30px;
  justify-content: space-between;
  background-color: transparent;
  box-sizing: border-box;

}

header .header-links::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  backdrop-filter: blur(20px);
}

header .project-title{
  display: flex;
  justify-content: center;
  align-items: center;
}

header .project-title h1{
  font: 800 30px "Raleway", sans-serif;
  color: var(--white-opacity-1);
}

header .links{
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}

header .center-links button{
  border: none;
  color: var(--white-opacity-1);
  font-weight: 400;
  font-size: 28px;
  transform: rotate(90deg);
  background-color: var(--transparent);
  outline: none;
  cursor: pointer;
  z-index: 1;
}

header .center-links a{
  font: 600 20px "Poppins", helvetica, sans-serif;
  color: var(--white-opacity-07);
  text-decoration: none;
  cursor: pointer;
}


header .center-links a:hover{
  color: var(--white-opacity-1);
}

header .center-links .lupa-icon{
  font-size: 25px;
  cursor: pointer;
  color: var(--white-opacity-07);
}

header .center-links .lupa-icon:hover{
  color: var(--white-opacity-1);
}

header .right-links button{
  width: 48px;
  height: 48px;
  border-radius: 100%;
  color: var(--white-opacity-1);
  border: 2px solid var(--red);
  background-color: var(--black);
  transition: all .2s ease-in-out;
  box-shadow: 1px 1px 45px var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;  
  outline: none;
}

header .right-links button .user-icon{
  color: var(--white-opacity-08);
  font-size: 16px;
}

header .right-links h3{
  color: var(--white-opacity-95);
  font: 600 20px "Poppins", sans-serif;
  cursor: pointer;
}

.menu-component{
  width: 300px;
  height: 100vh;
  padding: 30px 20px;
  background-color: var(--blue);
  position: fixed;
  top: 0;
  z-index: 155;
  transform: translateX(-100%);
  left: 0;
  transition: all .2s ease-out;
  border-right: 1pt solid var(--white-opacity-03) ;
}

.menu-component ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  row-gap: 2rem;
  position: relative;
}

.menu-component ul li p{
  font: 500 23px "Poppins", 'Roboto', helvetica, sans-serif;
  color: var(--white-opacity-07);
  cursor: pointer;
}

.menu-component ul li p:hover{
  color: var(--white-opacity-1);
  transform: scale(1.01);
}

.menu-component ul li button{
  border: none;
  font: 300 34px "Roboto", sans-serif;
  display: flex;
  width: 60px;
  height: 60px;  
  flex-direction: row;
  justify-content: center;
  background-color: var(--transparent);
  align-items: center;
  cursor: pointer;
  outline: none;
}

.menu-component ul li button .close-icon{
  color:var(--white-opacity-1);
  font-size: 31px;
}

.movie-fetcher{
  width: 100%;
  margin: auto;
  position: relative;
}

.movie-fetcher .swiper-btns-control{
  width: min-content;
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 33;
  top: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-fetcher .swiper-btns-control .arrows{
  color: var(--white-opacity-1);
  cursor: pointer;
  font-size: 20px;
}

.movie-fetcher .btn-left{
  left: -30px;
}

.movie-fetcher .btn-right{
  right: -10px;
}

.movie-fetcher hr, .about-movie hr{
  width: 100%;
  background-image: linear-gradient(to right, var(--red), var(--transparent));
  border: none;
  height: 1.5px;
  margin-bottom: 20px;
}

.movie-fetcher .fetcher-change-type{
  padding: 4px 30px;
  outline: none;
  background-color: var(--transparent);
  color: var(--white-opacity-1);
  font: 500 14px 'Roboto', sans-serif;
  border: 1pt solid var(--red);
  border-radius: 5px;
  cursor: pointer;
  transition: all .1s ease-in;
}

.movie-fetcher .fetcher-change-type:nth-child(1){
  border: 1pt solid var(--white-opacity-1);
}

.movie-fetcher .btns-movie-serie{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 30px;
}

.movie-fetcher .slides-title{
  color: var(--white-opacity-08);
  font: 600 19px 'Raleway', sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 10px;
  padding: 0px 13px;
  display: none;
}

.movie-fetcher .title-box{
  min-height: 50px;
  display: flex;
  align-items: center;
}

.movie-fetcher h1{
  color: var(--white-opacity-1);
  font: 600 21px "Roboto", sans-serif;
  animation: fadeIN .3s ease-in-out;
}

.fetchMovies-container{
  animation: fadeIN 5s ease-in-out;
  position: absolute;
}

.movie-fetcher .swiper-container{
  width: 100%;
  margin: auto;
  padding: 0;
}

.movie-fetcher .swiper-image{
  border: none;
  transition: all .1s ease-in !important;
  cursor: pointer;
  opacity: 1;
  border-radius: 4px;
  margin: 0px 20px 0px 0px;
  position: relative;
  min-width: 170px;
  height: 300px;
  padding: 1.5pt;
  position: relative;
  z-index: 3;
}

.movie-fetcher .swiper-image img{
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.movie-fetcher .swiper-image::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 4px;
  border: 1.5pt solid transparent;
  box-sizing: border-box;
  background-color: var(--black);
}

.movie-fetcher .swiper-image:hover img{
  opacity: .2;
}

.movie-fetcher .swiper-image:hover::before{
  border: 1.5pt solid var(--white-opacity-1);
}

.movie-fetcher  .motion-container{
  display: flex;
  flex-direction: row; 
  gap: 1.5rem;
  width: auto;
  overflow-x: visible;
}

.movie-fetcher .motion-container  .motion-slide{
  min-width: 160px;
  height: 240px;
  position: relative;
}

.movie-fetcher .motion-container  .motion-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 3px;
}

footer{
  width: 100%;
  display: flex;
  z-index: 20;
  margin-top: 50px;
  flex-direction: column;
  border-top: 1pt solid var(--white-opacity-01);
  background-color: var(--body-color);
  color: var(--white-opacity-95);
}

.footer-links{
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: center;
  gap: 2rem;
  padding: 30px;
  box-sizing: border-box;
}

.about-project{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 40px;
  box-sizing: border-box;
  align-items: center;
}


.about-project h1{
  font: 600 25px 'Raleway', sans-serif;
}

.about-project h2{
  font: 400 21px 'Raleway', sans-serif; 
}

.about-project h2 span{
  font-weight: 500;
}

.social-icons{
  display: flex;
  gap: 2rem;
  flex-direction: row;
}

.social-icons .icons{
  font-size: 24px;
  transition: transform .1s ease-in-out;
  color: var(--white-opacity-95);
}

.social-icons .icons:hover{
  transform: scale(1.2);
}

.footer-links a{
  text-decoration: none;
  font: 400 20px 'Roboto', sans-serif;
  cursor: pointer;
  border-bottom: 1.5pt solid var(--transparent);
  padding-bottom: 5px;
}

.footer-links a:hover{
  color: var(--white-opacity-1);
  border-bottom: 1.5pt solid var(white-opacity-1);
}

.loading-component{
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  background-color: var(--body-color);
}

.loading-component .loading-swiper{
  width: 100%;
}

.loading-component .loading-div{
  min-width: 170px;
  height: 300px;
  margin-right: 20px;
  border-radius: 5px;
  background-color: var(--gray);
  animation: pulse 2s ease-in-out infinite, fadeIN .2s ease-in-out;
}

.loading-component h1, .loading-component h2{
  width: 300px;
  height: 25px;
  max-width: 80%;
  border-radius: 4px;
  background-color: var(--gray);
  animation: pulse 2s ease-in-out infinite, fadeIN .4s ease-in-out;
}

.loading-component h2{
  width: 150px;
  max-width: 40%;
  margin-top: 10px;
}

@media screen and (max-width: 900px){
  
  header .center-links a:nth-child(3){
    display: none;
  }
  
  header .right-links h3{
    display: none;
  }
  
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 700px) {
  header{
    position: absolute;
  }

  header .header-links{
    padding: 15px 20px;
  }

  header .center-links a{
    display: none;
  }

  header .center-links button{
    font-size: 30px;
  }

  header .right-links button{
    width: 42px;
    height: 42px;
    font-size: 16px;
  }

  header .project-title h1{
    font-size: 25px;
  }

  header .right-links .lupa-icon{
    display: none;
  }

  .movie-fetcher h1{
    font-size: 22px;
  }
}

@media screen and (max-width: 600px) {
  
}
