@import url('/src/styles/Movies.css');


.movies-page-container{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: space-between;
}

.movies-page-container .genres-bar{
    width: 100%;
    z-index: 20;
    box-sizing: border-box;
    padding: 0px 30px;
    margin-top: 20px;
}
  
.movies-page-container .genres-bar ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0px;
  gap: 1rem;
  flex-wrap: wrap;
}
  
.movies-page-container .genres-bar ul li button{
  background-color: var(--midnightblue);
  font: 500 16px 'Roboto', helvetica, sans-serif;
  color: var(--white-opacity-07);
  padding: 5px 30px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  animation: fadeIN .2s ease-in-out;
}
  
.movies-page-container .genres-bar ul li:nth-child(1) button{
  color: var(--white-opacity-1);
}

.movies-page-container .loading-container{
  position: relative;
  margin-bottom: 10px;
}

.movies-page-container .box-movies, .box-series{
  padding: 0px 30px;
}

@media screen and (min-width: 2000px) {

  .swiper-image{
    min-height: 400px;
  }
}

@media screen and (max-width: 950px){
  
}

@media screen and (max-width: 800px) {
  
}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 600px) {
  
}

@media screen and (max-width: 500px) {
  
}