@import url('/src/styles/Player.css');

.player-pg-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    row-gap: 3rem;
}

.player-pg-container .player-bg-img{
  width: 100%;
  height: 100vh;
}

.player-pg-container .player-bg-img::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image:  linear-gradient(to bottom, var(--body-opacity-05), var(--body-opacity-00), var(--body-opacity-00), var(--body-color));
}

.player-pg-container .player-bg-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
