@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #020515;
  --color: rgb(255, 255, 255);
}

body {
  background-color: var(--background-color);
  color: var(--color);
  outline: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

