@import url('../../app/shared-styles/fonts.css');

.profile-page{
    width: 100%;
    min-height: calc(100vh - 50px);
    padding: 0px 30px;
    box-sizing: border-box;
    position: relative;
}

.profile-page .content-container{
    width: 100%;
    height: calc(100vh - 50px);
    max-height: 800px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    margin-top: 80px;
    column-gap: 20px;
}

  
.profile-page .user-data{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    order: 1;
}

.profile-page .user-icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    margin: auto;
}

.profile-page .user-icon-box .user-icon{
    color: var(--white-opacity-08);
    font-size: 140px;
}

.profile-page .user-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    box-sizing: border-box;
    background-color: var(--body-color);
}
  
.profile-page .user-data .data-item{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    border-radius: 4px;
    background-color: var(--white-opacity-1);
    row-gap: 7px;
}

.profile-page .user-data .data-item span{
    font: 600 18px 'Poppins', helvetica, sans-serif;
    color: var(--black);
}
  
.profile-page .user-data .data-item span:nth-of-type(2){
    font: 500 16px 'Poppins', helvetica, sans-serif;
    color: var(--black-opacity-08);
    position: relative;
}

.profile-page .user-data .pencil-icon{
    color: var(--black-opacity-08);
    position: absolute;
    font-size: 20px;
    top: 50%;
    right: 0;
    cursor: pointer;
    transform: translateY(-50%);
}

.profile-page .user-icon-box .pencil-icon{
    top: 100%;
}

.profile-page .noLogged-message{
    width: 100%;
    height: calc(100vh - 50px);
    max-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

.profile-page .noLogged-message h1{
    color: var(--white-opacity-1);
    text-transform: uppercase;
    text-align: center;
    font: 600 20px 'Poppins', helvetica, sans-serif;
}

.profile-page .noLogged-message h2{
    color: var(--white-opacity-09);
    font: 500 17px 'Poppins', helvetica, sans-serif;
}

.profile-page .noLogged-message .login-icon{
    color: var(--white-opacity-09);
    font-size: 40px;
    cursor: pointer;
}

.profile-page .user-options{
    width: 100%;
    height: auto;
    order: 2;
    border: 1pt solid var(--white-opacity-05);
    border-radius: 10px;
}

@media screen and (min-width: 1400px){
    .profile-page .user-icon-box .user-icon{
        font-size: 200px;
    }
}

@media screen and (min-width: 2000px) {
    .swiper-image{
      min-height: 400px;
    }
}

  
@media screen and (max-width: 950px){

}
  
@media screen and (max-width: 800px) {
    .profile-page #profile-section-title{
        display: none;
    }

    .profile-page .content-container{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 0px;
        align-items: center;
    }

    .profile-page .user-options{
        display: none;
    }

    .profile-page .user-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 15px;   
    }
}
  
@media screen and (max-width: 700px) {
    .profile-page{
        padding: 0px 15px;
    }

    .profile-page .noLogged-message h1{
        font-size: 18px;
    }

    .profile-page .noLogged-message h2{
        font-size: 16px;
    }
}
  
@media screen and (max-width: 600px) {
    .profile-page .user-icon-box .user-icon{
        font-size: 130px;
    }

    .profile-page .user-data{
        row-gap: 40px;
    }
}
  
@media screen and (max-width: 500px) {
    .profile-page .user-icon-box .user-icon{
        font-size: 120px;
    }

    .profile-page .user-info{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 15px;   
    }

    .profile-page .noLogged-message .login-icon{
        font-size: 30px;
    }
  }