@import url('../../app/shared-styles/fonts.css');

.movies-pg{
  width: auto;
  min-height: calc(100vh - 50px);
}

.movies-pg .container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movies-pg .genres-bar{
  width: 100%;
  z-index: 20;
  box-sizing: border-box;
  margin: 50px 0px 30px 0px;
  padding: 0px 30px;
}
  
.movies-pg ul{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  list-style: none;
  padding: 0px;
  gap: 15px;
}

.genres-bar li{
  width: 100%;
}
 
.movies-pg button{
  width: 100%;
  background-color: var(--dark-blue);
  font: 500 16px 'Roboto', helvetica, sans-serif;
  color: var(--white-opacity-085);
  padding: 7px 0px;
  border-radius: 3px;
  outline: none;
  border: none;
  cursor: pointer;
  animation: fadeIN .2s ease-in-out;
}

.genres-bar .genreSelected{
  color: var(--white-opacity-1) !important;
  background-color: var(--orangered) !important;
}

.movies-pg .loading-container{
  position: relative;
}

.movies-pg .box-movies, .movies-pg .box-series{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

@media screen and (min-width: 2000px) {

  .swiper-image{
    min-height: 400px;
  }
}

@media screen and (max-width: 950px){
  
}

@media screen and (max-width: 800px) {
  
}

@media screen and (max-width: 700px) {
  .movies-pg{
    row-gap: 10px;
  }

  .movies-pg .loading-container{
    margin-bottom: 0;
  }

  .movies-pg .genres-bar{
    padding: 0px 15px;
    margin: 40px 0px 20px 0px;
  }

  .movies-pg .box-movies, .movies-pg .box-series{
    margin-top: 25px;
    row-gap: 10px;
  }
}

@media screen and (max-width: 600px) {
  
}

@media screen and (max-width: 500px) {
  
}