@import url('../../app/shared-styles/fonts.css');

.auth-page{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    min-height: calc(100vh - 50px);
    padding: 0px 30px;
}

.auth-page .auth-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 800px;
}


.auth-page .auth-bg-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.auth-page .auth-bg-img::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, var(--body-opacity-09), var(--body-opacity-09), var(--body-color));
}

.auth-page img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.auth-page .forms-swiper{
    width: 100%;
    height: 100%;
}

.auth-page .forms-swiper .slide-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-page .form-container{
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 25px 10px 25px;
    row-gap: 30px;
    box-sizing: border-box;
    background-color: var(--body-color);
    border: 0.9pt solid var(--white-opacity-03);
    border-radius: 5px;
    position: relative;
}

.auth-page h1{
    position: absolute;
    height: 40px;
    display: flex;
    align-items: center;
    top: -20px;
    left: 25px;
    background-color: var(--body-color);
    padding: 0px 5px;
    font: 600 30px 'Poppins',"Raleway", sans-serif;
    color: var(--white-opacity-1);
}

.auth-page form{
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.auth-page form .input-container{
    display: flex;
    flex-direction: column;
    row-gap: 0px;
}

.auth-page .input-container label{
    color: var(--white-opacity-09);
    font: 500 17px 'Roboto', 'Poppins', sans-serif;
}

.auth-page .input-icons-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    border-bottom: 0.9pt solid var(--white-opacity-06);
}

.auth-page form input{
    width: 100%;
    background-color: var(--body-color);
    border: none;
    outline: none;
    padding: 10px 5px 10px 22px;
    font: 400 17px 'Poppins', 'Roboto',  sans-serif;
    color: var(--white-opacity-1);
    overflow-x: hidden;
    box-sizing: border-box;
}

.auth-page form input:-webkit-autofill, .auth-page form input:-webkit-autofill:hover, .auth-page form input:-webkit-autofill:focus, .auth-page form input:-webkit-autofill:active{
    -webkit-text-fill-color: var(--white-opacity-1);
    -webkit-box-shadow: 0 0 0px 1000px var(--body-color) inset;
    box-shadow: 0 0 0px 1000px var(--body-color) inset;
    transition: background-color 5000s ease-in-out 0s;
}

.auth-page form input:autofill, .auth-page form input:autofill:hover, .auth-page form input:autofill:focus, .auth-page form input:autofill-active{
    -webkit-text-fill-color: var(--white-opacity-1);
    -webkit-box-shadow: 0 0 0px 1000px var(--body-color) inset;
    box-shadow: 0 0 0px 1000px var(--body-color) inset;
    transition: background-color 5000s ease-in-out 0s;
}

.auth-page form input::placeholder{
    font: 400 16px 'Poppins','Roboto', sans-serif;
    color: var(--white-opacity-07);
}

.auth-page form .input-icons{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: var(--white-opacity-06);
}

.auth-page form .eye-icon{
    color: var(--white-opacity-06);
    cursor: pointer;
    font-size: 19px;
    display: none;
}

.auth-page form .eye-visible{
    display: block;
}

.auth-page form button{
    padding: 12px 0px;
    width: 100%;
    border-radius: 4px;
    font: 500 18px 'Roboto', sans-serif;
    border: none;
    outline: none;
    cursor: pointer;
}

.auth-page .checkbox-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 20px !important;
}

.auth-page .checkbox-container label{
    opacity: 0.9;
}

.auth-page .check-box{
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
}

.auth-page .check-box span{
    color: var(--red);
    cursor: pointer;
}

.auth-page .check-box input{
    font-size: 40px !important;
    border: none;
    outline: none;
    width: fit-content;
}

.auth-page .account-exist h2, .forgot-password h2{
    color: var(--white-opacity-07);
    font: 500 15.5px 'Poppins', 'Roboto',  sans-serif;
    text-align: center;
}

.auth-page .account-exist h2 span, .forgot-password h2 span{
    color: var(--white-opacity-1);
    font: 500 15.5px 'Poppins', 'Roboto',  sans-serif;
    cursor: pointer;
}

.auth-page .forgot-password h2{
    text-align: start;
}

.auth-page .forgot-password h2 span{
    color: var(--red);
}

@media screen and (max-width: 700px) {
    .auth-page{
        padding: 0px 15px;
    }
}

@media screen and (max-width: 500px) {
    .auth-page .form-container{
        width: 100%;
    }

    .auth-page form{
        width: 100%;
    }
}