@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&family=Raleway:wght@400;500;600&family=Roboto:ital,wght@0,300;0,400;0,500;1,500&display=swap');

*:focus{
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

:root{
  --color-black: black;
  --color-blue: #0F0F1A;
  --color-red: red;
  --color-white: white;
  --color-gary: gray;
  --color-purple: #8956f0;
}

*{
  margin: 0;
  font-family: "Roboto", sans-serif;
}


body{
  background-color: var(--color-black);
}

::-webkit-scrollbar{
  width: 9px;
}

::-webkit-scrollbar-thumb{
  background-color: var(--color-red);
}

header{
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 550px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: opacity .2s linear;
}

.div-menu{
  width: 300px;
  height: 100vh;
  padding: 30px 20px;
  background-color: var(--color-black);
  position: fixed;
  z-index: -5;
  top: 0;
  transform: translateX(-100%);
  transition: all .3s ease-out;
}

#btnAtivo{
  z-index: 195;
  transform: translateX(0);
}

.div-menu ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  row-gap: 2rem;
}

.div-menu ul li p{
  font: 400 1.5em "Roboto", sans-serif;
  color: rgb(255,255,255,.7);
  cursor: pointer;
}

.div-menu ul li p:hover{
  color: var(--color-white);
  font-weight: 500;
  transform: scale(1.01);
}

.div-menu ul li button{
  border: none;
  font: 300 1.2em "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0px 0px 50px 8px;
  transform: rotate(18deg);
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.div-menu ul li button:hover h1{
  color: var(--color-white);
}

.div-menu ul li button h1{
  position: absolute;
  color: rgb(255,255,255,.7);
}

#p-1{
  transform: rotate(5deg);
  font-weight: 400;
}

#p-2{
  transform: rotate(-40deg);
  font-weight: 400;
}

.imgIndex{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.imgIndex ul{
  display: flex;
  list-style: none;
  gap: 1rem;
  position: relative;
  padding: 0;
}

.imgIndex ul li{
  border: 1.5pt solid var(--color-white);
  border-radius: 100%;
  color: transparent;
  width: 8px;
  height: 8px;
  cursor: pointer;
}

.indexAtivo{
  background-color: white;
}

.indexDesativado{
  background-color: transparent;
}

.search-container-main{
  overflow-y: auto;
}

.search-bar-container{
  width: 100%;
  height: 150px;
  background-image: linear-gradient(to bottom, var(--color-black), var(--color-black), transparent);
  position: fixed;
  top: 0;
  transform: translateY(-100%);
  transition: transform .3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 240;
  flex-direction: column;
}

.Search-options{
  width: 70%;
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.Search-options label{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.Search-options label button{
  font: 500 1em 'Roboto', sans-serif;
  color: rgb(255,255,255,.8);
  background-color: transparent;
  border: 1pt solid var(--color-red);
  border-radius: 20px;
  padding: 3px 30px;
}

.container-result{
  width: 80%;
  left: 50%;
  position: absolute;
  display: flex;
  top: 150px;
  flex-direction: column;
  row-gap: 3rem;
  z-index: -200;
  transform: translateX(-50%);
  overflow-y: scroll;
}

.container-result::-webkit-scrollbar{
  width: 6px;
}

.container-result h1{
  color: var(--color-white);
  font: 500 1.5em "Raleway", sans-serif;
}

#line-result-titulo{
  background-color: var(--color-white);
}

.result-container-movies{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.img-result-container{
  min-width: 130px;
  height: 160px;
  cursor: pointer;
}

.img-result-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.result-movies-info{
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: .5rem;
  justify-content: space-between;
  padding: 2px 0px;
}

.result-info-avaliação{
  display: flex;
  flex-direction: column;
  row-gap: .3rem;
}

.result-movies-info h2{
  font: 500 1.5em "Raleway", sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  cursor: pointer;
}

.result-info-avaliação h3{
  color: var(--color-red);
  font: 500 1.2em 'Raleway', sans-serif;
}

.info-avaliação-div{
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.star-icon-avaliação{
  font-size: 1em;
}

.descrição-movies-result{
  font: 400 1em 'Noto Sans', sans-serif;
  color: rgb(255,255,255,.8);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.info-avaliação-div p{
  color: rgb(255,255,255,.8);
  font: 400 .9em 'Roboto', sans-serif;
  display: flex;
  align-items: center;
}

.opacity-div{
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background-color: black;
  opacity: 0;
  z-index: -200;
  transition: opacity .3s ease-in-out;
}

.inputSearch{
  width: 100%;
  padding: 5px;
  font: 400 14pt 'Noto Sans', sans-serif;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  color: var(--color-white);
}

.inputSearch::placeholder{
  color: rgb(255,255,255,.7);
  font-weight: 400;
}

.Search-input-container{
  width: 70%;
  border: 1pt solid var(--color-red);
  border-radius: 40px;
  padding: 5px 20px;
  display: flex;
  gap: 1rem;
  margin-top: 20px;
  flex-direction: row;
  align-items: center;
}

.xmark-icon-input{
  color: rgb(255,255,255,.7);
  font-size: 2.2em;
}

.xmark-icon-input:hover{
  color: var(--color-white);
}

.header-links{
  width: 100%;
  padding-bottom: 30px;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom, rgb(0,0,0,.7), rgb(0,0,0,.7), rgb(0,0,0,.5), transparent);
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  z-index: 100;
}

.links-content{
  width: 90%;
  padding: 30px 20px;
  display: flex;
  box-sizing: border-box;
  margin: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header button{
  cursor: pointer;
}

.links-titulo h1{
  font: 700 2.8em "Raleway", sans-serif;
  color: var(--color-white);
}

#icon-titulo{
  margin-left: 5px;
}

.links-titulo p{
  font-size: 3em;
  color: var(--color-white);
}

.link-icons{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.btn-menu{
  border: none;
  color: var(--color-white);
  font-weight: 400;
  font-size: 1.7em;
  background-color: transparent;
  transform: rotate(90deg);
  outline: none;
  cursor: pointer;
}

.link-icons a{
  font: 500 1.3em "Roboto", sans-serif;
  color: rgb(255,255,255,.7);
  text-decoration: none;
  cursor: pointer;
}

.link-icons a:hover{
  color: var(--color-white);
}

.button-header-div button{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: var(--color-white);
  border: 2px solid var(--color-red);
  background-color: var(--color-black);
  font: 600 1.2em "Roboto", sans-serif;
  transition: all .2s ease-in-out;
  box-shadow: 1px 1px 45px var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;  
}

.link-icons h3{
  color: rgb(255,255,255,.9);
  font: 500 1.2em "Roboto", sans-serif;
  cursor: pointer;
}

.button-header-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.lupa-icon{
  font-size: 1.5em;
  cursor: pointer;
  color: rgb(255,255,255,.7);
}

.lupa-icon:hover{
  color: var(--color-white);
}

.header-images{
  position: absolute;
  width: 100%;
  height: 100vh;
  max-height: 550px;
  top: 0;
  z-index: -1;
  opacity: .9;
}

.carrosel-header{
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 1s ease-in-out;
}

.carrosel-img{
  min-width: 100%;
  height: 100vh;
  max-height: 550px;
  position: relative;
  z-index: 2;
}

.carrosel-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movieDetails{
  position: absolute;
  margin-left: 80px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  z-index: 55;
  row-gap: 1rem;
  padding: 10px 10px 10px 0px;
}

.movieDetails #btn-play{
  color: var(--color-white);
  background-color: var(--color-black);
  border: 3px solid var(--color-white);
  border-radius: 500px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

#icon{
  font-size: 1.8em;
  border-radius: 100%;
  color: var(--color-white);
}

.movieDetails #btn-play:hover{
  border: 3px solid var(--color-red);
}

.movieDetails h1{
  font: 600 2em "Raleway", sans-serif;
  color: var(--color-white);
}

.movieDetails p{
  color: rgb(255,255,255,.95);
  line-height: 150%;
  font: 400 1.2em "Noto Sans",sans-serif;
}

.header-fim{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(to top, var(--color-black), transparent);
}

.container-movies hr, .about-movie hr{
  width: 100%;
  background-image: linear-gradient(to right, var(--color-red), transparent);
  border: none;
  height: 2px;
  margin-bottom: 20px;
}

.container-movies button{
  padding: 4px 30px;
  outline: none;
  background-color: transparent;
  color: var(--color-white);
  font: 500 1em 'Roboto', sans-serif;
  border: 1.4pt solid var(--color-red);
  border-radius: 20px;
  transition: all .1s ease-in;
}

.container-movies button:focus{
  border: 1.4pt solid var(--color-white);
  color: var(--color-white);
}

.btns-movie-serie{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 20px;
}

#movies-container-main{
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.app-main{
  display: flex;
  flex-direction: column;
  row-gap: 6rem;
}

.container-movies{
  width: 93%;
  margin: auto;
  overflow: hidden;
}

.container-movies h1{
  color: var(--color-white);
  font: 500 1.7em "Roboto", sans-serif;
  margin-bottom: 10px;
}

.swiper{
  width: 100%;
  margin: auto;
}

.swiper-wrapper{
  display: flex;
  flex-direction: row;
}

.swiper-slide{
  cursor: pointer;
  min-width: 210px;
  padding: 0px 13px;
  box-sizing: border-box;
}

#swiper-img{
  border: 3px solid transparent !important;
  transition: all .1s ease-in !important;
}

.swiper-slide:hover #swiper-img{
  border: 3px solid var(--color-red) !important;
  opacity: 1;
}

.swiper-button-next, .swiper-button-prev{
  padding: 40px 20px;
  margin-top: -100px;
  color: var(--color-white) !important;
  margin-top: -100px !important;
  transform: scale(.6);
}

.swiper-button-next{
  margin-right: -35px;
}

.swiper-button-next::before{
  content: '';
  width: 150px;
  min-height: 100vh;
  position: absolute;
  background-image: linear-gradient(to left, var(--color-black), rgb(0,0,0,.9) ,transparent);
  z-index: -1;
}

.swiper-button-prev{
  margin-left: -35px;
}

.swiper-button-prev::before{
  content: '';
  width: 150px;
  min-height: 100vh;
  position: absolute;
  background-image: linear-gradient(to right, var(--color-black), rgb(0,0,0,.9), transparent);
  z-index: -1;
}

.img-carrosel{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.movies-container{
  min-width: 200px;
  cursor: pointer;
}

.movies-container:hover .movies-img{
  border: 3px solid var(--color-red);
  opacity: 1;
}

.movies-img{
  width: 100%;
  height: 250px;
  border: 3px solid transparent;
  opacity: .8;
  transition: all .1s ease-in;
}

.movies-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movies-details{
  height: 100px;
  display: flex;
  align-items: center;
  opacity: .9;
}

.details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 0.3rem;
}

.movies-details p{
  color: rgb(255,255,255,.6);
  font: 500 1em "Open Sans", sans-serif;
}

.generos{
  display: flex;
  flex-direction: row;
  gap: .7rem;
}

.generos p{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.starIcon{
  margin-left: 5px;
  font-size: .7em;
}

.p{
  color: var(--color-red)
}

.movies-details h2{
  color: var(--color-white);
  font: 600 1em arial, sans-serif;
}

.page-container{
  display: flex;
  flex-direction: column;
  row-gap: 0rem;
}

.btn-play-page{
  min-width: 60px;
  min-height: 60px;
}

.about-movie{
  margin-top: 80px;
  padding: 0px 30px 100px 50px;
}

.about-movie-text{
  width: 100%;
  min-width: 50%;
}

.about-movie-text h1{
  font: 500 1.7em "Roboto", sans-serif;
  color: var(--color-white);
  margin-bottom: 20px;
  opacity: .9
}

.about-movie-text p{
  font: 400 1.15em "Noto Sans", sans-serif;
  color: var(--color-white);
  max-width: 800px;
  line-height: 150%;
  opacity: .8
}

.player-page{
  width: 100%;
  height: 100vh;
  max-height: 550px;
  position: absolute;
  top: 500px;
  left: 0;
  z-index: 1;
  background-color: var(--color-black);
  transition: transform .6s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fundoPlayer{
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to top, var(--color-black),black, transparent);
}

.player-page h1{
  color: var(--color-white);
  font: 500 2.3em "Raleway", sans-serif;
  text-align: center;
  margin-bottom: 10px;
  opacity: .8;
}

.player-page h2{
  color: var(--color-white);
  font: 400 1.6em "Open Sans", sans-serif;
  opacity: .8;
}

#ativo{
  z-index: -2;
  transition: all 4s ease-in;
}

#ativo2{
  transform: translateY(-500px);
  z-index: 5;
}

#ativo .player-page{
  z-index: 1;
}

.pageTitle{
  font: 600 2.15em "Raleway", sans-serif;
  color: var(--color-white);
}

.moviesPageContainer{
  width: 100%;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.moviesPageLançamentos{
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.barraGeneros{
  width: 90%;
  margin: auto;
  z-index: 20;
}

.barraGeneros ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0px;
  gap: 1rem;
  flex-wrap: wrap;
}

.barraGeneros ul li button{
  background-color: transparent;
  border: 1pt solid var(--color-red);
  font: 600 1em arial, sans-serif;
  color: rgb(255,255,255,.7);
  padding: 5px 20px;
  border-radius: 20px;
  outline: none;
}

.barraGeneros ul li button:hover, .barraGeneros ul li button:focus{
  color: var(--color-white);
}

.moviesPageLançamentos {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.perfilContainer{
  width: 100%;
  height: 100vh;
}

.fundoContainerPerfil{
  width: 100%;
  height: 50%;
  position: relative;
  background-color: var(--color-black);
  border-bottom: 3px solid var(--color-red);
}

.fundoImageContainer{
  width: 100%;
  height: 100%;
}

.fundoImageContainer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .5;
}


.perfilIMG{
  background-color: var(--color-black);
  width: 170px;
  height: 170px;
  border-radius: 100%;
  position: absolute;
  display: flex;
  border: 3px solid transparent;
  border-top: 3px solid var(--color-red);
  border-right: 3px solid var(--color-red);
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
  z-index: 3;
}

.basePerfil{
  position: absolute;
  bottom: calc(170px / 2);
  left: calc(50% - 100px);
}

.perfilLinear{
  width: 100%;
  height: 20%;
  background-image: linear-gradient(to top, var(--color-black), transparent);
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.perfilIMG #userIcon{
  font-size: 3.5em;
  transform: rotate(45deg);
  color: var(--color-white);
}

.dadosCadastroContainer{
  width: 50%;
  max-width: 800px;
  min-width: 250px;
  background-color: var(--color-red);
  margin: 110px auto 100px auto;
  background-color: rgb(255,255,255,.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  border-radius: 8px;
}

.cadastroDados{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(255,255,255,.1);
  padding-bottom: 10px;
  row-gap: .5rem;
}

.cadastroDados h1{
  font: 400 1.2em 'Roboto', sans-serif;
  color: var(--color-white);
}

.cadastroDados h2{
  font: 400 1.1em 'Roboto', sans-serif;
  color: rgb(255,255,255,.6);
}

@media screen and (min-width: 2000px) {
  .movies-container{
    min-width: 15%;
  }

  .movies-img{
    min-height: 400px;
  }
}

@media screen and (max-width: 800px) {
  .link-icons h3{
    display: none;
  }
  .links-titulo h1{
    font-size: 2.5em;
  }
  .movieDetails h1{
    font-size: 1.7em;
  }
  .movieDetails #btn-play{
    width: 60px;
    height: 60px;
  }
  .app-main{
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
  }
  .carrosel-header{
    transition: transform 1s ease-in-out;
  }
  .descrição-movies-result{
    -webkit-line-clamp: 2;
  }
  .about-movie{
    margin-top: 80px;
  }
}

@media screen and (max-width: 700px) {
  .header-links{
    background-image: linear-gradient(to bottom, rgb(0,0,0,.9), rgb(0,0,0,.8), rgb(0,0,0,.6), transparent);
  }
  .links-content{
    width: 100%;
  }
  .link-icons h3{
    display: none;
  }
  .links-titulo h1{
    font-size: 2.3em;
    font-weight: 600;
  }
  .movieDetails h1{
    font-size: 1.6em;
  }
  .lupa-icon{
    display: none;
  }

  #search-icon-bar{
    display: block;
  }

  .btn-header{
    display: none;
  }

  .movies-container{
    min-width: 180px;
  }

  .movies-img{
    height: 225px;
  }

  .movieDetails{
    position: absolute;
    margin-left: 50px;
    bottom: 0;
  }

  .movieDetails p{
    font-size: 1.1em;
  }

  .movies-details h2{
    font-size: .9em;
  }

  .movies-details p {
    font-size: .9em;
  }

  .container-movies{
    width: 90%;
  }

  .container-movies h1{
    font-size: 1.5em;
  }

  .container-movies button{
    font-size: .9em;
  }

  .about-movie{
    padding-left: 20px;
    margin-top: 70px;
  }
  .about-movie-text p{
    font-size: 1.15em;
    line-height: 150%;
  }
  .movieDetails #btn-play{
    border: 2px solid var(--color-white);
  }
  .inputSearch{
    font-size: 12pt;
  }
  .imgIndex ul li{
    width: 7px;
    height: 7px;
  }
  .result-movies-info h2{
    font-size: 1.3em;
  }
  .descrição-movies-result{
    -webkit-line-clamp: 1;
  }

}

@media screen and (max-width: 600px) {
  .pageTitle{
    font: 600 1.5em "Raleway", sans-serif;
    color: var(--color-white);
  }
  .div-menu{
    width: 200px;
  }
  .div-menu ul li p{
    font-size: 1.3em;
  }
  .div-menu ul li button{
    font-size: 1.1em;
  }
  .carrosel-header{
    transition: transform .7s ease-in-out;
  }
  .fundoContainerPerfil{
    height: 40vh;
  }
  .perfilIMG{
    width: 150px;
    height: 150px;
  }
  .basePerfil{
    bottom: 75px;
    left: calc(50% - 75px);
  }
  .perfilIMG #userIcon{
    font-size: 3.3em;
  }
  .dadosCadastroContainer{
    margin: 90px auto 50px auto;
  }
  .container-result::-webkit-scrollbar{
    display: none;
  }
  .about-movie{
    margin-top: 60px;
  }
  .about-movie-text p{
    font-size: 1.1em;
  }
  
}

@media screen and (max-width: 500px) {
  .link-icons h3{
    display: none;
  }
  .links-titulo h1{
    font-size: 1.8em;
  }
  .movieDetails h1{
    font-size: 1.5em;
  }
  #icon{
    font-size: 1.7em;
  }
  .movieDetails #btn-play{
    border: 1.4pt solid var(--color-white);
  }
  .movieDetails{
    margin-left: 30px;
  }
  .result-movies-info h2{
    font-size: 1.1em;
    -webkit-line-clamp: 2;
  } 
  .about-movie{
    margin-top: 50px;
  }
}


